<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信注册</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/static/css/common/register.css"/>
</head>
<body>

<div class="responsive">
    <div class="img">
        <a target="_blank" href="#">
            <img src="../wechatlogin/generateqrcode4customer" alt="" width="300" height="200">
        </a>
        <div class="desc">用户注册</div>
    </div>
</div>

<div class="responsive">
    <div class="img">
        <a target="_blank">
            <img src="../wechatlogin/generateqrcode4adminer" alt="" width="300" height="200">
        </a>
        <div class="desc">商家注册</div>
    </div>
</div>


<!--<div class="content-block">-->
<!--    <div class="row">-->
<!--        <div class="col-50">-->
<!--            <a href="../localurl/bindaccount" onclick="javascript :history.back(-1);"-->
<!--               class="button button-big button-fill button-danger">账户绑定</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="content-block">
    <div class="row">
        <div class="col-50">
            <a href="../frontend/mainpagelist" onclick="javascript :history.back(-1);"
               class="button button-big button-fill button-danger">返回</a>
        </div>
    </div>
</div>

<script type='text/javascript'
        src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</body>
</html>